<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdyQekWDzWd8ytKP1cM5S9c3coDJ0wgUU</string>
	<key>GCM_SENDER_ID</key>
	<string>94645696985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.apothacare</string>
	<key>PROJECT_ID</key>
	<string>apotha-care-h5edpz</string>
	<key>STORAGE_BUCKET</key>
	<string>apotha-care-h5edpz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94645696985:ios:e36b63d59e14fd409581c8</string>
</dict>
</plist>